<?xml version="1.0"?>
<config>
    <modules>
        <MageXtrem_Deployment>
            <version>0.1.0</version>
        </MageXtrem_Deployment>
    </modules>
    <frontend>
        <routers>
            <magextrem_deployment>
                <use>standard</use>
                <args>
                    <module>MageXtrem_Deployment</module>
                    <frontName>deployment</frontName>
                </args>
            </magextrem_deployment>
        </routers>
    </frontend>
    <global>
        <helpers>
            <magextrem_deployment>
                <class>MageXtrem_Deployment_Helper</class>
            </magextrem_deployment>
        </helpers>
        <models>
            <magextrem_deployment>
                <class>MageXtrem_Deployment_Model</class>
            </magextrem_deployment>
        </models>
    </global>
    <crontab>
        <jobs>
            <check_deployment_flag>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>magextrem_deployment/observer::checkDeployment</model>
                </run>
            </check_deployment_flag>
        </jobs>
    </crontab>
    <default>
        <magextrem_utils>
            <deployment>
                <git_bin_path>git</git_bin_path>
                <branch_name>preprod</branch_name>
                <push_type>direct</push_type>
                <allowed_ips>127.0.0.1,131.103.20.160/27,165.254.145.0/26,104.192.143.0/24</allowed_ips>
                <debug>1</debug>
            </deployment>
        </magextrem_utils>
    </default>
</config>